body{
    font-family: 'Poppins', sans-serif;
}

h5{
    font-weight: 600;
    font-size: 55px;
    
}
/* ----slider---- */
.carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  .course-info {
    background-color: #e4ebee;
    border-radius: 5px;
  }
  .dark{
    filter: brightness(0.5);
  }
  
  
  .course-info img,
  .course-image {
  object-fit: cover;
}
 